@font-face {
    font-family: 'Sigmar One';
    font-style: normal;
    font-weight: 400;
    src: local('Sigmar One'), local('SigmarOne'), url(http://themes.googleusercontent.com/static/fonts/sigmarone/v4/aRAZJs6CY7SV6eSg6Wx4jxsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}
body{
    margin: 0;
    font: 14px Lucida sans;
    background: #333 url('https://s-media-cache-ak0.pinimg.com/564x/32/7e/98/327e983bf836dbfcf8ca12241fa1f0a6.jpg') no-repeat;
    -webkit-background-size: 1370px 800px;
        -moz-background-size: 1370px 800px;
            -o-background-size: 1370px 800px;
            background-size: 1370px 800px;
    color: #fff;
}
form{
    margin: 0 auto;
    max-width: 70%;
}
a, a:active, a:focus{
    text-decoration: none;
    color: #fafafa;
}

hr{
    margin: 1em;
    border: 0;
    border-top: 1px rgba(0,0,0,.2) solid;
    border-bottom: 1px rgba(255,255,255,.2) solid;
}
table {
    margin: 0 auto;
    max-width: 70%;
    border-collapse: collapse;
    border: 3px solid #666;
}
thead {
    border: 3px solid #a5a5a5;
    background: #ccc url(http://www.devfuria.com.br/html-css/tabelas/bar.gif) repeat-x center;
    border-bottom: 1px solid #a5a5a5;
}
tr:hover {
    background-color:#3d80df;
    color: #fff;
}
thead tr:hover {
    background-color: #FFFFFF;
    color: inherit;
}
th {
    border: 3px solid #a5a5a5;
    font-weight: normal;
    text-align: center;
}
th, td {
    font-weight: 900;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15;
    text-align: center;
    border: 3px solid #a5a5a5;
    padding: 0.4em 4em;
}
#logo{
    font: 30px 'Sigmar One';
    text-align: center;
    padding: 0;
    margin: 1em 0 0;
    text-shadow: rgba(0,0,0,1) 0 0 5px;
}
#wrap{
    width: 100%;
    background: rgba(255,255,255,.3);
    border-radius: 5px;
    text-shadow: rgba(0,0,0,.5) 1px 1px 0;
    box-shadow: rgba(0,0,0,.2) 0 0 3px;
    text-align: center;
    padding: 3em 1em;
}
#copyrights{
    font: 13px;
    color: #FFFFFF;
}
#form{
    margin: 0 auto;
    max-width: 50%;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
/*
.help-note-title:after {
    background: url(https://cdn.pixabay.com/photo/2013/07/12/14/11/info-147927_960_720.png);
    background-size: 22px;
    background-repeat: no-repeat;
    content: " ";
    height: 22px;
    width: 22px;
    float: right;
    padding: 10px;
}
*/