@charset "UTF-8";

.borda{
	border: 2px solid green;
}
form{
    margin: 0 auto;
    max-width: 50%;
}
#logo{
	font: 50px '';
	color:#FFFFFF;
	text-align: center;
	padding: 0;
	margin: 0;
	text-shadow: rgba(0,0,0,1) 0 0 5px;
}
header{
    margin: 0;
	width:100%;
	height=100px;
    font: 20px Lucida;
    background-color: #333;
	background-image: url("./_img/header.png");
    -webkit-background-size: cover;
	    -moz-background-size: cover;
	        -o-background-size: cover;
            background-size: cover;
	color: #fff;
}
h1, h2, h3, h4, h5, h6, p, ul, li, table {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 73px;
  line-height: 60px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0;
  text-shadow: 0 1px 1px rgba(0,0,0,.4);
}

h2 {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 46px;
  color: #ffffff;
}

h3 {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 34px;
  color: #626c72;
}

h4 {
  letter-spacing: 1px;
  color: #31363a;
  font-weight: bold;
}

h5 {
  font-size: 18px;
  font-weight: 300;
  line-height: 18px;
  color: #626c72;
}

p, table {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #626c72;
}

p.lead, p.lead_libre{
  color: #00A500;
  font-weight: 400;
}

a {
  color: #00A500;
}

a:hover {
  transition: all 0.35s ease-in-out;
  color: #626c72;
  text-decoration: none;
}

.bold {
  font-weight: 400;
}

.thin {
  font-weight: 300;
}

.small {
  font-size: 13px;
  font-weight: 100;
  color: #626c72;
}

.btn-main {
	background: #00A500 repeat scroll 0 0;
    border: none;
    font-weight: 900;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    line-height: 2em;
}

.btn-main:hover {
	background: #43C330 repeat scroll 0 0;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 0.35s ease-in-out;
}
.btn-home {
	background: #00A500 repeat scroll 0 0;
    border: none;
    font-size: 1.8em;
    font-weight: 900;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-home:hover {
	background: #999 repeat scroll 0 0;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 0.35s ease-in-out;
}
.btn-other {
	background: #43C330 repeat scroll 0 0;
    border: none;
    font-weight: 900;
    border-radius: 2px;
    box-shadow: none;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: none;
    padding: 15px 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2em;
}

.btn-other:hover {
	background: #4cae4c repeat scroll 0 0;
	color: #FFFFFF;
	text-decoration: none;
	transition: all 0.35s ease-in-out;
}

.more:hover {
  opacity: 0.6;
  transition: all 0.35s ease-in-out;
}

.dropdown-backdrop {
  position: static;
}

.container ul, .container li {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #626c72;;
  font-family: 'Lato', sans-serif;
}

[class^="fa-"], [class*=" fa-"] {
 vertical-align: middle;
}

::selection {
	background: #00A500; /* Safari */
	color: #FFFFFF;
}
::-moz-selection {
	background: #00A500; /* Firefox */
	color: #FFFFFF;
}

/* ==========================================================================
   Margini
   ========================================================================== */

.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}
.margin-120 {
    margin-bottom: 100px !important;
}


/* ==========================================================================
   Colori
   ========================================================================== */

.black {
  color: #31363a;
}

.dark-gray {
  color: #626c72;
}

.gray {
  color: #a5b2b9;
}

.light-gray {
  color: #dfe5e8;
}

.white {
  color: #FFFFFF;
}

.orange {
  color: #00A500;
}

.green {
  color: #00A500;
}

/* ==========================================================================
   Callout03
   ========================================================================== */
.bs-callout {
  margin: 20px 0;
  padding: 15px 30px 15px 15px;
  border-left: 5px solid #eee;
  background-color: #CDF7CD;
  border-color: #00a500;
}
.bs-callout h4 {
  margin-top: 0;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code,
.bs-callout .highlight {
  background-color: #fff;
}
 
/* Themes for different contexts */
.bs-callout-danger {
  background-color: #fcf2f2;
  border-color: #dFb5b4;
}
.bs-callout-warning {
  background-color: #fefbed;
  border-color: #f1e7bc;
}
.bs-callout-info {
  background-color: #00A500;
  border-color: #00a500;
}

/* ==========================================================================
   Navigation styles
   ========================================================================== */
   
.navbar-inverse {
    background-color: #00A500;
    border-color: transparent;
}


.nav-collapse, .nav-collapse.collapse {
    background: none repeat scroll 0 0 #00A500;
    height: 0;
    overflow: hidden;
}

.nav > li > a {
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
}

.navbar-brand {
  margin-top: 7px;
}

.navbar .nav > li > a {
  color: #FFFFFF;
  float: none;
  padding: 20px 16px;
  text-decoration: none;
  text-shadow: none;
}

.navbar .nav > li > a:hover {
  color: rgba(49,54,58,0.9);
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  background-color: transparent;
  color: rgba(49,54,58,0.9);
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color: rgba(49,54,58,0.4);
  border-top-color: rgba(49,54,58,0.4);
}

.navbar-inverse .nav li.dropdown > a:hover .caret, .navbar-inverse .nav li.dropdown > a:focus .caret {
  border-bottom-color: rgba(49,54,58,0.4);
  border-top-color: rgba(49,54,58,0.4);
  transition: all 0.35s ease-in-out;
}

.navbar-inverse .nav li.dropdown.open > .dropdown-toggle, .navbar-inverse .nav li.dropdown.active > .dropdown-toggle, .navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}

.navbar-inverse .navbar-nav > li > a.section, .navbar-inverse .navbar-nav > li > a.current {
color: #31363A;
}

.dropdown-menu {
    background-clip: padding-box;
    background-color: #31363a;
    color: #FFFFFF;
    border: 0px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 1px 0 0;
    min-width: 160px;
    padding: 12px;
    position: absolute;
    top: 100%;
    z-index: 1000;
}

.navbar .nav > li > .dropdown-menu:before, .navbar .nav > li > .dropdown-menu:after {
  display: none;
}

.nav-collapse .dropdown-menu a {
  font-weight: normal;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-submenu:hover > a, .dropdown-submenu:focus > a {
    background-color: transparent;
    background-image: none;
    background-image: -webkit-linear-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(transparent));
    background-repeat: no-repeat;
    color: #00A500;
    text-decoration: none;
}

.dropdown-menu > li > a {
    clear: both;
    color: #FFFFFF;
    display: block;
    font-weight: normal;
    line-height: 20px;
    padding: 3px 20px;
    white-space: nowrap;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.navbar-toggle {
    margin-top: 18px;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:active, .navbar-inverse .navbar-toggle.active, .navbar-inverse .navbar-toggle.disabled, .navbar-inverse .navbar-toggle[disabled] {
    background-color: transparent;
    color: #FFFFFF;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: rgba(0, 0, 0, 0);
}



/* ==========================================================================
   Header Styles
   ========================================================================== */

.carousel {
  margin-bottom: 0px;
  background: #31363a;
}

.carousel .container {
  position: relative;
  z-index: 9;
}

.carousel-control {
    background: none repeat scroll 0 0;
    background-color: #00A500;
    border-radius: 0px;
    font-family: 'Lato', sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #fff;
    height: 58px;
    width: 5%;
    margin-top: 320px;
    text-shadow: 0 0px 0px rgba(0, 0, 0, 0.0);
    z-index: 10;
    opacity: 1;
}

.carousel-control.left {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0) 0px, rgba(0, 0, 0, 0) 0%);
    background-repeat: repeat-x;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.0) 0%);
    background-repeat: repeat-x;
    left: auto;
    right: 0;
}

.carousel-control:hover {
  opacity: 0.7;
}

.carousel .item {
  height: 650px;
}

/*.dfd {
    background: url() no-repeat center center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

.one {
  background-image: url("./_img/mundo-colorido.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.two {
  background-image: url("./_img/people.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.three {
  background-image: url("./_img/fundo-ifsc-branco.png");
  background-repeat: no-repeat;
  background-size: 100%;
}


.carousel-caption {
  background-color: transparent;
  position: static;
  margin-top: 26%;
  text-align: left;
}

.carousel-caption h1 {
  padding-bottom:10px;
}

.carousel-caption p.lead {
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing:1px;
  font-size:1.3em;
  }


/* ==========================================================================
   Homepage Special
   ========================================================================== */
   
.homepage p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  color: #626c72;
} 

/* ==========================================================================
   Content Styles
   ========================================================================== */
   
.section {
  padding: 30px 0;
}

#content1 {
  background: #ffffff;
  margin-top: 90px;
}

#content2 {
  background-color: #ebebeb;
  margin-top: 90px;
}

#content1 h2, #content2 h2 {
  font-size: 34px;
  font-weight: 500;
  color: #00A500;
}

#content1 h3, #content2 h3 {
  
}

#page-title {
  background: #ffffff;
  margin-top: 50px;
}

#message {
  background: #a5b2b9;
}


/*.highlights:hover i {
  color: #626c72;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}*/

.highlights h3 {
  margin-top: 0px;
}

.highlights-icons {
  padding-top: 15px;
}

#twitter {
  background: #515961;
}

.latest-twitter {
  position: relative;
  padding: 10px 10px 10px 10px;
  background: #525961;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.twitter-timeline a, .latest-twitter a {
  color: #00A500;
}

/* ==========================================================================
   Internal pages Styles
   ========================================================================== */
   
.page-post {
  padding-bottom: 40px;
}

.page-post p{
  padding-bottom: 10px;
}

.side-links li {
  padding: 3px;
}

.side-links li a {
  color: #00A500;
  font-weight: 500;
}

.side-links li a:hover {
  color: #31363a;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #00A500;
    border-color: #00A500;
    color: #FFFFFF;
    cursor: default;
    z-index: 2;
}

.accordion-caret .accordion-toggle:hover {
        text-decoration: none;
    }
    .accordion-caret .accordion-toggle:hover span,
    .accordion-caret .accordion-toggle:hover strong {
        text-decoration: underline;
    }
    .accordion-caret .accordion-toggle:before {
        font-size: 25px;
        vertical-align: -3px;
    }
    .accordion-caret .accordion-toggle:not(.collapsed):before {
        content: "▾";
        margin-right: 0px;
    }
    .accordion-caret .accordion-toggle.collapsed:before {
        content: "▸";
        margin-right: 0px;
    }
    
/* ==========================================================================
   Quote Section styles
   ========================================================================== */
#quote {
  background: url(https://www.papeldeparede.etc.br/fotos/wp-content/uploads/Teclado11.jpg) no-repeat;
  background-size: cover;
}

.quote-source {
  background: #00A500;
  text-align: center;
  padding: 12px 14px;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* ==========================================================================
   Latest News 
   ========================================================================== */
#latest-news {
  background: #ffffff;
}


.latest-article img {
  margin-bottom: 15px;
  margin: 0 auto;
}

.latest-article p {
  font-size: 13px;
  text-align: center;
  color: #626C72;
}

.latest-article a {
 color: #00A500;
}

.latest-article {
  position: relative;
  padding: 5px 10px 5px 10px;
  background: #dfe5e8;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.latest-article-title {
  color: #00A500;
  margin:5px 0;
  font-weight:700;

}

.latest-article-date {
  color: #999;
  font-weight:300;
  font-size:0.8em;

}

/*.latest-article:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 45%;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #dfe5e8 transparent;
  display: block;
  width: 0;
  z-index: 1;
}*/



/* ==========================================================================
   Download Section
   ========================================================================== */

ul.os {
   margin: 0;padding: 0;
}

ul.os li {
   list-style-type: none; display: inline;
}

ul.os li:before {
   content: " | ";
}

ul.os li:first-child:before {
   content: none;
}

.languages li {
   list-style-type: none;
   margin: 0;
   font-weight:300;
}
.languages li a {
   list-style-type: none;
   margin: 0;
   font-weight:500;
}

.torrent {
  line-height: 23px;
}


/* ==========================================================================
   Bottom and Footer 
   ========================================================================== */
#bottom {
  background: #31363A;
  padding-top: 20px;
  padding-bottom: 20px;
}

#bottom p a {
  color: #A5B2B9;
}

#bottom p a:hover {
  color: #00A500;
	text-decoration: none;
}

hr {
  border: 0;
  height: 0;
  /*border-top: 1px solid #26292B;
  border-bottom: 1px solid rgba(97,102,104,0.85);*/
}



#footer {
  background: #26292B;
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer p {
  color: #626C72;
  font-size: 11px;
  line-height: 13px;
}

#footer p a {
  color: #00A500;
  font-weight: normal;
  text-decoration: none;
}

ul.icons li {
  list-style: none;
  padding: 7px 0 5px 0;
}


ul.social-icons {
	list-style: none;
	margin-left: 0px;
}

ul.social-icons li {
	display: inline;
	margin-right: 5px;
	line-height: 50px;
}

ul.social-icons li a {
	color: #fff;
	text-decoration: none;
}

ul.social-icons li a:hover {
	color: #ffffff;
	bottom: 12px;
	text-decoration: none;
	transition: all 0.35s ease-in-out;
}


/* ==========================================================================
   Discover
   ========================================================================== */

.discover {
}
 
.discover_img {
 max-width:230px;
 border: solid 2px #00A500;
 }

.screenshots img {

 }

/* ==========================================================================
   Community
   ========================================================================== */
   
#community {
  background-color: #ebebeb;
}

.thumbs {
	width: 100%;
	float: left;
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
}

.thumbs a {
	background-color: #00A600;
  bottom: -200px;
  color: white;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  z-index: 100;
}

.thumbs a span.title {
	display: table;
	width: 100%;
	height: 90%;
}

.thumbs a span.title span {
	font-family: 'Lato', sans-serif;
	font-size: 14.5px;
	line-height: 17px;
	font-weight: bold;
	color: #FFFFFF;
	text-transform: uppercase;
	vertical-align: middle;
	display: table-cell;
	
}

.thumbs a:hover {
	bottom: 0;
  opacity: 1;
  transition: opacity 0.30s ease-in-out 0s, bottom 0.4s cubic-bezier(0.25, 0.500, 0, 1) 0s;
  -webkit-transition: opacity 0.30s ease-in-out 0s, bottom 0.4s cubic-bezier(0.25, 0.500, 0, 1) 0s;
}


.border {
 border: 1px solid #f0f0f0; 
}

.community:hover i {
  color: #626c72;
  transition: all 0.35s ease-in-out;
  cursor: pointer;
}

.community h3, .community h3 a {
  margin-top: 0px;
  /*color: #00A500;*/
}

.community h3 a:hover {
  color: #00A500;
}

.community-icons {
  padding-top: 0px;
}
/* ==========================================================================
   Responsive
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) { 

h1 {
  font-size: 40px;
  line-height: 38px;
}

.navbar .nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
}

.img-responsive {
  margin: auto;
}

.carousel-caption {
  max-width: 100%;
  text-align: center;
}

.carousel .item {
  height: 460px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

p.lead, p.lead_libre {
  font-size: 18px;
}
.btn-main {
	font-size:0.7em;
    font-weight: 700;
    padding: 10px 15px;
}
.btn-other {
	font-size:0.7em;
    font-weight: 700;
    padding: 10px 15px;
}
}

	
/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) { 

h1 {
  font-size: 40px;
  line-height: 38px;
}


#content1 {
  background: #ffffff;
  margin-top: 130px;
}

#content2 {
  background-color: #ebebeb;
  margin-top: 130px;
}

.navbar .nav > li > a {
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
}

.img-responsive {
  margin: auto;
}

.carousel-caption {
  max-width: 100%;
  text-align: center;
}

.carousel .item {
  height: 460px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

p.lead, p.lead_libre {
  font-size: 18px;
}
.text-left{text-align: left;}

.text-center{text-align: center}

.text-right{text-align: right;}

.btn-main {
	font-size:0.9em;
    font-weight: 900;
    padding: 10px 15px;
}
.btn-other {
	font-size:0.9em;
    font-weight: 900;
    padding: 10px 15px;
}

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 991px)  {

h1 {
  font-size: 40px;
  line-height: 38px;
}

#content1 {
  background: #ffffff;
  margin-top: 50px;
}
/*
#content2 {
  background-color: #ebebeb;
  margin-top: 90px;
}
*/

.nav > li > a {
  font-weight: 700;
  font-size: 12px;
}

.navbar .nav > li > a {
    padding: 16px 7px 10px 7px;
}
/* tweaks for long strings in navbar - fontsize/padding*/
html[lang="nl-NL"] .navbar .nav > li > a {
    font-size: 11px;
    padding-left: 6px;
    padding-right: 6px;
}
/* only slightly too large */
html[lang="fr-FR"] .navbar .nav > li > a,
html[lang="cy-GB"] .navbar .nav > li > a {
    padding-left: 5px;
    padding-right: 5px;
}
/* padding around logo */
html[lang="cy-GB"] .navbar-header > a.navbar-brand,
html[lang="nl-NL"] .navbar-header > a.navbar-brand,
html[lang="fr-FR"] .navbar-header > a.navbar-brand,
html[lang="pt-BR"] .navbar-header > a.navbar-brand {
    padding-right: 5px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
}

.navbar-brand img {
  margin: auto;
  max-width: 110px;
}

.img-responsive {
  margin: auto;
}

.carousel-caption {
  margin-top: 18%;
  max-width: 100%;
  text-align: center;
}

.carousel-control {
    margin-top: 210px;
}
.carousel .item {
  height: 460px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

p.lead, p.lead_libre {
  font-size: 18px;
}

	
}



/* Desktops and laptops ----------- */
@media (min-width: 992px) and (max-width: 1199px) {
h1 {
  font-size: 40px;
  line-height: 38px;
}

/*
#content1 {
  background: #ffffff;
  margin-top: 90px;
}

#content2 {
  background-color: #ebebeb;
  margin-top: 90px;
}
*/

.nav > li > a {
  font-weight: 700;
  font-size: 14px;
}

.navbar .nav > li > a {
    /*padding: 20px 10px 10px 10px;*/
    padding-left:12px;
}
/* tweaks for long strings in french navbar - fontsize/padding*/
html[lang="fr-FR"] .navbar .nav > li > a {
    padding-left: 13px;
    padding-right: 13px;
}
html[lang="nl-NL"] .navbar .nav > li > a {
    padding-left: 8px;
    padding-right: 8px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
}

.navbar-brand img {
  margin: auto;
  max-width: 140px;
  margin-top: 14px;
}

.img-responsive {
  margin: auto;
}
.carousel-caption {
  margin-top: 20%;
  max-width: 100%;
  text-align: center;
}

.carousel-control {
    margin-top: 230px;
}

.carousel .item {
  height: 460px;
}

h2 {
  font-size: 30px;
  line-height: 36px;
}

h3 {
  font-size: 25px;
  line-height: 25px;
}

p.lead, p.lead_libre {
  font-size: 18px;
}


}
    
     


/* Large screens ----------- */
@media (min-width: 1200px) and (max-width: 3000px) {

}   


form#Form_DonationProceed .SelectionGroup li li input {
    display: inline-block;
    margin: 0 0.2em 0 0;
}
form#Form_DonationProceed .SelectionGroup li label {
    margin: 0 0 0 0.2em;
    font-weight: normal;
}
form .message.bad {
        margin-bottom: 0.2em;
        margin-right: 10px; /* same as for fields above */
        padding: 0.5em;
        display: inline-block;
        font-weight: bold;
        background-color: #FF8080;
}
/* Radio / Checkbox */
form .checkboxset li,
form .optionset   li {
  list-style-type:none;
}
  form .checkbox  input,
  form .optionset input {
    display:inline;
    margin-top: 0; /* override bootstrap */
    margin-right: 0.3em; /* padding to label */
    margin-bottom: 0.1em; /* vertical-align tweak */
  }
form .message { margin: 1em 0; padding: 0.5em; font-weight: bold; border: 1px black solid; background-color: #B9FFB9; border-color: #00FF00; }
form .message.notice { background-color: #FCFFDF; border-color: #FF9300; }
form .message.warning { background-color: #FFD2A6; border-color: #FF9300; }
form .message.bad { background-color: #FF8080; border-color: #FF0000; }
form .message.required, form .message.validation { display: block; margin-top: 5px; color: #FF9300; width: 240px; border-color: #FF9300; }
form .message.validation { color: #FF4040; width: 240px; border-color: #FF4040; }
div.field + :not(.field) { margin-top: 0.7em;}
div.field + .recaptcha { margin-top: 1em; margin-bottom: 0.5em;}

/* 5.0 landing/"jump" page */
#jumppage { display: none;}
#jumppage.enabled {
    display:block;
    background-image: url(/themes/libreofficenew/img/Jump.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top:auto;
    margin-bottom:auto;
    z-index: 1400;
    width:  976px;
    height: 410px;
    -webkit-filter: drop-shadow(16px 16px 24px black);
    -moz-filter:    drop-shadow(16px 16px 24px black);
    -o-filter:      drop-shadow(16px 16px 24px black);
    -ms-filter:     drop-shadow(16px 16px 24px black);
    filter:         drop-shadow(16px 16px 24px black);
}
#jumppage #getittopleft {
    position: absolute;
    display: block;
    top: 8px;
    left: 28px;
    height: 170px;
    width: 165px;
}
#jumppage #getitdownload{
    position: absolute;
    display: block;
    top: 326px;
    left: 317px;
    height: 58px;
    width: 266px;
}
#jumppage #gotoplainhome{
    position: absolute;
    display: block;
    top: 326px;
    left: 26px;
    height: 58px;
    width: 266px;
}
#jumppage #gotoplaylist{
    position: absolute;
    display: block;
    top: 190px;
    left: 15px;
    height: 115px;
    width: 570px;
}
#jumppage #gotoplaylist2{
    position: absolute;
    display: block;
    top: 19px;
    left: 607px;
    height: 390px;
    width: 370px;
}
#blurme.enabled {
    -webkit-filter: blur(2px) grayscale(90%);
    -moz-filter:    blur(2px) grayscale(90%);
    -o-filter:      blur(2px) grayscale(90%);
    -ms-filter:     blur(2px) grayscale(90%);
    filter:         blur(2px) grayscale(90%);
}
ul.spaced li { margin-bottom: 1em; }

div#bdaybanner a, div.col-sm-8 div#bdaybanner a {
    display: inline-block;
    margin-bottom: 2em;
    width: 400px;
    height: 100px;
    background-image: url(/themes/libreofficenew/img/birthday_banner_small.png);
}
@media (min-width: 1200px) {
    div#bdaybanner a {
        width: 800px;
        height: 200px;
        background-image: url(/themes/libreofficenew/img/birthday_banner_large.png);
    }
}  
@media (min-width: 992px) {
    div.col-sm-12 div#bdaybanner a, section#highlights div#bdaybanner a {
        width: 800px;
        height: 200px;
        background-image: url(/themes/libreofficenew/img/birthday_banner_large.png);
    }
}
div#bhsbanner a, div.col-sm-8 div#bhsbanner a {
    display: inline-block;
    margin-bottom: 2em;
    width: 400px;
    height: 100px;
    background-image: url(/themes/libreofficenew/img/bhs_banner_small.png);
}
@media (min-width: 1200px) {
    div#bhsbanner a {
        width: 800px;
        height: 200px;
        background-image: url(/themes/libreofficenew/img/bhs_banner_large.png);
    }
}  
@media (min-width: 992px) {
    div.col-sm-12 div#bhsbanner a, section#highlights div#bhsbanner a {
        width: 800px;
        height: 200px;
        background-image: url(/themes/libreofficenew/img/bhs_banner_large.png);
    }
}