form{
    margin: 0 auto;
    max-width: 70%;
}
a, a:active, a:focus{
    text-decoration: none;
    color: #fafafa;
}
table{
	width: 95%;
}
#img:hover{
	background-color: #84f984;
    color: #fff;
}
tr:hover {
    background-color: #1E90FF;
    color: #fff;
}
td {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15;
    text-align: center;
    border: 3px solid #a5a5a5;
    padding: 0.4em 4em;
}